---
import { Image } from 'astro:assets';
import { doubleProjects } from '@/data/projects';
import { sluglify } from '@/lib/slugify';
---

<div class="mx-auto flex w-min items-center">
  <div
    class="z-20 h-full min-h-[350px] w-0 shadow-[0px_0px_20px_50px] shadow-background">
  </div>
  <div
    class="scrollbar-hidden project flex max-w-[1300px] gap-5 overflow-x-scroll px-14 py-5 duration-500">
    <div class="animate-slide flex w-full justify-center gap-5">
      {
        doubleProjects.map(({ title, img }) => (
          <div
            class="group min-w-[350px] cursor-pointer overflow-hidden rounded-xl border transition-transform duration-1000 lg:hover:rotate-2"
            id={sluglify(title)}>
            <a href={`/portfolio/${sluglify(title)}`}>
              <Image
                src={img}
                alt={`${title} image`}
                width={300}
                height={200}
                class="aspect-video h-[180px] w-full object-cover object-top duration-300 group-hover:scale-110 group-hover:opacity-70 lg:group-hover:rotate-2"
              />

              <h3 class="bg-card/50 px-3 py-2 text-lg font-semibold capitalize tracking-tight">
                {title}
              </h3>
            </a>
          </div>
        ))
      }
    </div>
  </div>
  <div
    class="z-20 h-full min-h-[350px] w-0 shadow-[0px_0px_20px_30px] shadow-background">
  </div>
</div>
