---
import Layout from '@/layouts/Layout.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import { Image } from 'astro:assets';
import Tag from '@/components/Tag.astro';
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';

export type Props = {
  post: {
    title: string;
    description: string;
    date: Date;
    img: string;
    tags: string[];
  };
};
const pageTitle = 'Blog';
const { post } = Astro.props;
const { title, description, date, img, tags } = post;
---

<Layout title={pageTitle} description={description}>
  <MaxWidthWrapper>
    <article class="min-w-full sm:max-w-none md:max-w-none md:py-4">
      <header class="mb-3 flex flex-col items-center justify-center gap-6">
        <div class="flex flex-col gap-2">
          <div class="flex items-center justify-center gap-x-1">
            <p class="text-center text-sm text-opacity-50">
              Published <FormattedDate date={date} />
            </p>
          </div>
          <h1 class="text-center text-4xl font-semibold md:pb-2.5 md:text-6xl">
            {title}
          </h1>
        </div>

        <div
          class="flex flex-wrap items-center justify-center gap-2 gap-y-4 md:gap-5">
          {tags.map((tag) => <Tag tag={tag} />)}
        </div>
      </header>

      <>
        {
          img && (
            <Image
              src={img}
              width={300}
              height={200}
              quality={100}
              format="jpg"
              loading="eager"
              class="my-8 aspect-video max-h-[300px] rounded-md object-cover md:max-h-[500px]"
              alt={`img of ${title}`}
            />
          )
        }
      </>

      <hr />

      <div>
        <slot />
      </div>
    </article>
  </MaxWidthWrapper>
</Layout>
