---
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';
import LinkBtn from '@/components/ui/link-arrow';
import { projects } from '@/data/projects';
import { sluglify } from '@/lib/slugify';
import Layout from '@/layouts/Layout.astro';
import PrevProjectBtn from './components/PrevProjectBtn.astro';
import NextProjectBtn from './components/NextProjectBtn.astro';
import GoBackBtn from './components/GoBackBtn.astro';
import { Image } from 'astro:assets';

export function getStaticPaths() {
  const projectsTitles = projects.map(({ title }) => title);

  return projectsTitles.map((title) => {
    return { params: { project: sluglify(title) } };
  });
}
const { project } = Astro.params;
const projectIndex = projects.findIndex(
  ({ title }) => sluglify(title) === project
);

if (!projects[projectIndex]) return Astro.redirect('/');
const { title, description, demoUrl, img } = projects[projectIndex];
---

<Layout title={title} description={description}>
  <section class="w-full overflow-x-hidden py-7">
    <PrevProjectBtn projectIndex={projectIndex} />
    <MaxWidthWrapper className="flex h-full flex-col justify-center space-y-5">
      <GoBackBtn href="/portfolio" />
      <div
        class="flex h-full flex-col items-center justify-around gap-5 lg:h-min lg:flex-row">
        <div
          class="slide-in-left flex h-full flex-col items-start justify-center space-y-4">
          <h1
            class="text-4xl font-bold capitalize tracking-tighter text-primary sm:text-5xl xl:text-6xl">
            {title}
          </h1>
          <p
            class="max-w-[600px] text-muted-foreground md:text-xl/relaxed xl:text-xl/relaxed">
            {description}
          </p>
          <LinkBtn
            href={demoUrl}
            size="lg"
            arrowPosition="right"
            target="_blank">
            See Demo
          </LinkBtn>
        </div>
        <div class="slide-in-right order-first max-w-[600px] lg:order-last">
          <Image
            src={img}
            width="550"
            height="310"
            alt="About"
            class="mx-auto aspect-square h-full overflow-hidden rounded-xl object-cover object-top opacity-70 duration-1000 hover:opacity-100 sm:w-full"
          />
        </div>
      </div>
    </MaxWidthWrapper>
    <NextProjectBtn projectIndex={projectIndex} />
  </section>
</Layout>

<script></script>
