---
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';
import LinkBtn from '@/components/ui/link-arrow';
import { projects } from '@/data/projects';
import { sluglify } from '@/lib/slugify';
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import { Button, buttonVariants } from '@/components/ui/button';
import { cn } from '@/lib/utils';
import {
  ArrowBigLeft,
  ArrowBigRight,
  ArrowLeft,
  ArrowRight,
} from 'lucide-react';

export function getStaticPaths() {
  const projectsTitles = projects.map(({ title }) => title);

  return projectsTitles.map((title) => {
    return { params: { project: sluglify(title) } };
  });
}
const { project } = Astro.params;
const projectIndex = projects.findIndex(
  ({ title }) => sluglify(title) === project
);

if (!projects[projectIndex]) return Astro.redirect('/');
const { title, description, demoUrl, img } = projects[projectIndex];
---

<Layout title={title} description={description}>
  <section class="w-full overflow-x-hidden py-5">
    <a
      href={sluglify(
        projectIndex === 0
          ? projects[projects.length - 1]?.title || ''
          : projects[projectIndex - 1]?.title || ''
      )}
      class="fixed left-0 top-1/2 z-50 flex h-32 -translate-y-1/2 items-center rounded-r-full bg-foreground text-background opacity-50 duration-300 hover:opacity-100"
      ><ArrowLeft /></a
    >
    <MaxWidthWrapper className="relative space-y-5">
      <LinkBtn href="/portfolio/" variant="link" arrowPosition="left">
        go back
      </LinkBtn>
      <div
        class="grid gap-6 lg:grid-cols-[1fr_500px] lg:gap-12 xl:grid-cols-[1fr_550px]">
        <div class="slide-in-left flex flex-col justify-center space-y-4">
          <div class="space-y-2">
            <h1
              class="pl-5 text-3xl font-bold capitalize tracking-tighter sm:pl-0 sm:text-5xl">
              {title}
            </h1>
            <p
              class="0 max-w-[600px] md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
              {description}
            </p>
            <LinkBtn
              href={demoUrl}
              size="lg"
              arrowPosition="right"
              target="_blank">
              See Demo
            </LinkBtn>
          </div>
        </div>
        <div class="slide-in-right order-first lg:order-last">
          <Image
            transition:name={title}
            src={img}
            width="550"
            height="310"
            alt="About"
            class="mx-auto aspect-video overflow-hidden rounded-xl object-cover object-top shadow-md shadow-secondary sm:w-full"
          />
        </div>
      </div>
    </MaxWidthWrapper>
    <a
      href={sluglify(
        projectIndex === projects.length - 1
          ? projects[0]?.title || ''
          : projects[projectIndex + 1]?.title || ''
      )}
      class="fixed right-0 top-1/2 z-50 flex h-32 -translate-y-1/2 items-center rounded-l-full bg-foreground text-background opacity-50 duration-300 hover:opacity-100"
      ><ArrowRight /></a
    >
  </section>
</Layout>

<script></script>
