---
import MaxWidthWrapper from '@/components/MaxWidthWrapper.astro';
import LinkBtn from '@/components/ui/link-arrow';
import { projects } from '@/data/projects';
import { sluglify } from '@/lib/slugify';
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';

export function getStaticPaths() {
  const projectsTitles = Object.values(projects).map(({ title }) => title);

  return projectsTitles.map((title) => {
    return { params: { project: sluglify(title) } };
  });
}

const { project } = Astro.params;
const projectResult = Object.values(projects).find(
  ({ title }) => sluglify(title) === project
);
if (!projectResult) return Astro.redirect('/');
const { title, description, demoUrl, img } = projectResult;
---

<Layout title={title} description={projectResult?.description}>
  <section class="w-full md:py-24 lg:py-32">
    <MaxWidthWrapper className="relative">
      <LinkBtn href="/portfolio/" variant="link" arrowPosition="left">
        go back
      </LinkBtn>
      <div
        class="grid gap-6 lg:grid-cols-[1fr_500px] lg:gap-12 xl:grid-cols-[1fr_550px]">
        <div class="slide-in-left flex flex-col justify-center space-y-4">
          <div class="space-y-2">
            <h1
              class="text-3xl font-bold capitalize tracking-tighter sm:text-5xl">
              {title}
            </h1>
            <p
              class="0 max-w-[600px] md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
              {description}
            </p>
            <LinkBtn
              href={demoUrl}
              variant="outline"
              size="lg"
              arrowPosition="right"
              target="_blank">
              See Demo
            </LinkBtn>
          </div>
        </div>
        <Image
          transition:name={title}
          src={img}
          width="550"
          height="310"
          alt="About"
          class="slide-in-right mx-auto aspect-video overflow-hidden rounded-xl object-cover object-top shadow-lg dark:shadow-slate-50 sm:w-full lg:order-last"
        />
      </div>
    </MaxWidthWrapper>
  </section>
</Layout>
